/* dark purple #3B244D */
/* light green #40DFAF */

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Yellowtail&display=swap');

/*logo*/
img.fs-logo{
    content: 
    url("https://nossonsshul.com/media/images/1277/iWWH12777359.png") !important;
    background-size:100% 100%;
    } 
    /*lines around logo and space*/
    .fs-logo-container .fs-bottom-triangle-border polygon {
        fill:#3B244D;
    }
    .fs-header-top .fs-logo-container {
    border: 4px solid #3B244D;
    border-top:0;
    background:#3B244D;
    border-radius:25px;
    padding-bottom:10px;
    }
    .fs-header-top {
        border-bottom: 4px solid #3B244D;
    background:#3B244D;
    }
    
    .fs-logo-container .fs-bottom-triangle  polygon{
    fill:#3B244D;
    }
    .fs-header-top .fs-logo-container:after, .fs-header-top .fs-logo-container:before {
    background:#3B244D;
    }
    .fs-header-top .fs-logo-container .fs-bottom-triangle, .fs-header-top .fs-logo-container .fs-bottom-triangle, .fs-header-top .fs-logo-container .fs-bottom-triangle-border {
        display:none;
    }

    
    /*matchers*/

    /*circle*/
    /*.fs-matchers .fs-matcher .fs-matcher-image .fs-image-wrap-ratio::after{
        box-shadow: inset 0 0 0 2px #F8A147;
    }
    /*maximize...*/
    /*div.container-fluid.fs-matchers > div > h3 > span{
        font-weight:bold;
    }
    /*tier*/
   /* .fs-matchers .fs-matcher .fs-matcher-title {
        color:#F8A147;
    }
    /*details*/
   /* .fs-matchers .fs-matcher .fs-matcher-subtitle {
        color:#951903;
        font-weight:bold;
    }
      /*donors names on separate lines. width is 100% divided by amount of matching categories*/
     /* .fs-matchers .fs-matcher  {
    margin-right:0px;
    margin-left:0px;
    width:50%;
  }
  @media (max-width: 991px){
    .fs-matchers .fs-matcher{
      width:100%;
    }
  }
    /*background*/
   /* .fs-matchers{
        background: #FFF;
    }
    /*every ¤...*/
    /*.fs-matchers .fs-matchers-intro strong{
        color:#F8A147
    }

/*hero image*/

.fs-header:before {
    background-image: 
   url("https://nossonsshul.com/media/images/1277/XNOJ12774632.png");
   background-size:100% 100%;
   }
   @media screen and (max-width: 700px) {
   .fs-header:before {
    background-image: 
   url("https://nossonsshul.com/media/images/1278/rXQv12780247.png");
   background-size:100% 100%;
   }
   }
   
   
   
   /*boruch hashem*/
   #BaruchHashem.baruch_hashem {
    color:#3B244D;
   }
   /*social buttons*/
   a.a2a_button_facebook, a.a2a_button_twitter, a.a2a_button_email, a.a2a_dd{
    background-color: #3B244D;
   }
   /*nossons shul*/
   body > div.fs-root > div > div.jumbotron.fs-header > div > div > h1 > small{
    color:#3B244D;
   }
 
/*big titles*/
#Description > div > div > h3, body > div.fs-root > div > div.jumbotron.fs-header > div > div > h1 > span, .fs-partners h3, body > div.fs-root > div > div.container.fs-about-partners-container > div > div.col-md-8.fs-about.js-about.fs-about-main-body > div > h3 {
    color:#40DFAF;
        font-family: "Leckerli One", cursive !important;
        font-weight: 400;
        font-style: normal;

      
}

/*small titles*/
#Description > div > div > h4, body > div.fs-root > div > div.jumbotron.fs-header > div > div > h2, body > div.fs-root > div > div.container.fs-about-partners-container > div > div.col-md-8.fs-about.js-about.fs-about-main-body > div > h4{
    color:#3B244D;
        font-family: "Yellowtail", cursive !important;
        font-weight: 400;
        font-style: normal;
      
      
}

/*donate now and about campaign */
.donate-button .donate-button-text {
    background:#40DFAF;
  border-radius: 25px !important;
  color:#3B244D;
  font-weight: bold !important;
  }
  .donate-button .donate-button-text:hover{
    background: #3B244D;
    color: #FFF;
  }

  /*goal section*/
  .jumbotron.fs-header {
    border-bottom: 4px solid #3B244D;
}
.fs-goal{
background:#3B244D ;
}
.fs-goal .fs-goal-text strong , .fs-goal .fs-goal-graph-container .fs-goal-graph-text{
color:#FFF;
}
.fs-goal .fs-goal-graph-container .fs-goal-graph .fs-goal-graph-fill{
    background:#40DFAF;
}

/*countdown*/
.fs-countdown {
    background:#40DFAF;
    border-radius:25px;
    }
    h3.fs-countdown-message , .fs-countdown h3 strong , body > div.fs-root > div > div.fs-campaign-info > div > div > div.col-md-6.fs-countdown.text-center.d-js-viewport-in > h3,.fs-footer .row>div:nth-of-type(1) h3, .fs-countdown .fs-countdown-widget .fs-countdown-sep{
    color:#FFF;
    }
    /*text*/
    
     .fs-countdown .fs-countdown-widget .fs-countdown-unit .fs-countdown-description{
        color: #3B244D!important;
    }

/*section next to countdown*/
    .fs-donate {
        background:#F38F89;
    }
    
    body > div.fs-root > div > div.fs-campaign-info > div > div > div.col-md-6.fs-donate.fs-donatable.text-center.vertical-align.d-js-viewport-in > div.fs-left-border-triangle > svg > polygon{
        fill:#F38F89;
    }
    
    div.fs-top-border-triangle > svg > polygon, div.fs-left-border-triangle > svg > polygon{
        fill:#F38F89
    }
    
    /*dollar sign*/
    .fs-donate .fs-donate-amounts {
        color:#fff
    } 
    /*donate button*/
    a.btn.fs-btn.js-action-open-donate{
        background: #FFF;
    }
    a.btn.fs-btn.js-action-open-donate:hover{
    background: #3B244D;
    color: #FFF;
    }

    
    

    /*donor listing*/
   /*top line and background*/
   .fs-partners>div{
    border-top:6px solid #f5cbc9;
    background:#f5cbc9;
    border-radius:25px;
    }
    /*"our donors"*/
   .text-center h3, .fs-partners h3 span {
    color:#3B244D;
    }
     /*"view all donors / be the first"*/
   .fs-btn{
    background:#40DFAF;
    border-radius: 25px !important;
    color: #3B244D;
    }
    .fs-btn:hover{
        background: #3B244D;
        color: #FFF;
    }

    /*read more*/
    .fs-about-text .fs-btn-read-more{
        background:#3B244D;
        color:#FFF;
    }


/*footer*/
   .fs-footer {
    background: #3B244D;
    border-top: 1px solid #3B244D;
    }
    .fs-footer .row>div:nth-of-type(1) h3, .fs-footer .row>div:nth-of-type(2) h3 , address {
    color:#FFF;
    }

/*donate page*/
    /*header*/
    .fs-full-donate-form .fs-donate-header{
        background:#3B244D;
        
    }
    .fs-full-donate-form .fs-donate-header .fs-text {
        color:#FFF;
    }
        /*titles*/
        .title, .recurring-length-label, .fs-full-donate-form .fs-donate-body .fs-donate-section h3, .content  {
    color:#3B244D !important;
    }
    /*amount boxes*/
    .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option span.fs-option-name>*{
        background-color: #40DFAF;
        color:#3B244D;
        border-radius:25px;
    }
    /*amount boxes when selected*/
    .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.fs-other label.selected, .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.selected .fs-option-name>div {
        background:#3B244D;
        color:#FFF
    
    }
    
    /*payment information boxes*/
    .fs-full-donate-form .fs-donate-body .fs-donate-section .fs-payment-method .radio-inline span {
        border:1px solid #3B244D;
        border-radius:25px;
    }
    .fs-full-donate-form .fs-donate-body .fs-donate-section .fs-payment-method .radio-inline input:checked+span:before {
        border-top:10px solid #3B244D;
    }
    .fs-full-donate-form .fs-donate-body .fs-donate-section .fs-payment-method .radio-inline input:checked+span{
        background:#3B244D !important;
        color:#FFF !important;
    }
/*donor tag*/
    .fs-partners .fs-partner-container .fs-partner {
    background:#3B244D;
    }
    .fs-partner .fs-bottom-triangle  polygon{
    fill:#3B244D;
    }
    .fs-partners .fs-partner-container .fs-partner .fs-partner-donation-amount, .fs-partners .fs-partner-container .fs-partner .fs-partner-name {
    color:#FFF;
    }
    a#showAllDonorsButton{
        background:#3B244D !important;
        color:#FFF !important;
    }
    a#showAllDonorsButton:hover{
        background: #40DFAF !important;
        color: #3B244D !important;
    }
    .fs-partners .fs-partner-container .fs-partner .fs-partner-dedication{
        background: #40DFAF;
    }
    .fs-partners .fs-partner-container:hover .fs-partner .fs-partner-dedication, .fs-partners .fs-partner-container .fs-partner .fs-partner-dedication {
        max-height: 200px;
        padding: 10px;
        border-bottom: 2px solid #3B244D
    }
    /*team section*/
    .donar-section{
       background: #f5cbc9;
    }
    .donate-members .donates_user .donate-A{
        background:#3B244D
    }
    .donate-members .donates_user .donate-A .donate-triangle{
        border-right: 26px solid #3B244D;
    }
    .donate-members .donates_user .left_userd .user-name, .donar-section .nav-tabs .nav-item.active .nav-link{
        color:#3B244D;
    }
    .donar-section .nav-tabs .nav-item.active .nav-link, .donar-section .nav-tabs .nav-item:hover .nav-link{
        border-bottom: 3px solid #3B244D;
    }
    .donar-section .nav-tabs .nav-link {
        color:#FFF;
    }
    #donors > div > div.js-donors-list > div > div:nth-child(1) > div > div > div.left_userd > div > span{
        color:#40DFAF;
    }
    /*button in team*/
    .btns-flex .view-btn, .btns-flex .donate-btns:hover{
        background:#FFF;
        color:#3B244D;
        border-color: #FFF;
        border-radius: 25px;
        
    }
    .btns-flex .view-btn:hover, .btns-flex .donate-btns{
        background:#3B244D;
        color:#FFF;
        border-color: #3B244D;
        border-radius: 25px;
    }